.gradle
/build/
/bin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
local.properties
.idea
checkmark/bin/main/net/saff/checkmark/Checkmark.kt
checkmark/bin/test/test/net/saff/checkmark/CheckmarkTest.kt
junit-ktx/bin/main/net/saff/junit/junit.kt
junit-ktx/bin/test/test/net/saff/junit/JunitKtxTest.kt
prettyprint/bin/main/net/saff/prettyprint/prettyprint.kt
prettyprint/bin/test/test/net/saff/prettyprint/PrettyPrintTest.kt
